.CastList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;

  list-style-type: none;
}
.CastActorCard {
  width: 150px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.116);
}

.CastActorPoster {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ActorName {
  font-weight: bold;
}

.ActorCharcter {
  font-size: 12px;
}
